<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mjmju.zj.transport_manage.mapper.SiteManagerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mjmju.zj.transport_manage.entity.SiteManagerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="code_time" property="codeTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, number, name, phone, password, addr, code, code_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from site_manager_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from site_manager_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo" >
    insert into site_manager_info (id, number, name, 
      phone, password, addr, 
      code, code_time)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{codeTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo" >
    insert into site_manager_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="codeTime != null" >
        code_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeTime != null" >
        #{codeTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo" >
    update site_manager_info
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeTime != null" >
        code_time = #{codeTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo" >
    update site_manager_info
    set number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      code_time = #{codeTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="countAll" resultType="Integer">
    SELECT COUNT(*) FROM site_manager_info
  </select>

  <select id="selectWithPage" resultType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo">
    SELECT * FROM site_manager_info order by id desc LIMIT
    <choose>
      <when test="pages > 0">${(pages - 1)*limit},${limit}</when>
      <when test="pages == 0">0,${limit}</when>
    </choose>
  </select>

  <select id="selectByPhone" resultType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo">
    select * from site_manager_info where phone = #{phone}
  </select>

  <select id="search" resultType="com.mjmju.zj.transport_manage.entity.SiteManagerInfo">
    select * from site_manager_info
    <where>
      <if test="addr != null and addr != ''">
        and addr like '%${addr}%'
      </if>
      <if test="name != null and name != ''">
        and name like '%${name}%'
      </if>
    </where>
    order by id desc LIMIT
    <choose>
      <when test="pages > 0">${(pages - 1)*limit},${limit}</when>
      <when test="pages == 0">0,${limit}</when>
    </choose>
  </select>

  <select id="countSearch" resultType="Integer">
    select count(*) from site_manager_info
    <where>
      <if test="addr != null and addr != ''">
        and addr like '%${addr}%'
      </if>
      <if test="name != null and name != ''">
        and name like '%${name}%'
      </if>
    </where>
  </select>

  <delete id="deleteByStationName" >
    DELETE  from site_manager_info where addr = #{addr}
  </delete>

  <select id="findByName" resultType="com.mjmju.zj.transport_manage.entity.DriverInfo">
    select * from salesman_info
    <where>
      <if test="name != null and name != ''">
        and name like '%${name}%'
      </if>
    </where>
  </select>

</mapper>