<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html>
<head th:replace="common/sheet::commonHeaderdiv">
</head>
<body class="page-body">



<div class="page-container">

    <div th:replace="~{commons/bars::sideLift}"></div>

    <div class="main-content">

        <!-- User Info, Notifications and Menu Bar -->
        <div th:replace="~{commons/bars::sideTop}"></div>
        <div class="row" style="background: white;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">货车信息</h3>
                            <div class="panel-options">
                                <a href="#" data-toggle="panel">
                                    <span class="collapse-icon">&ndash;</span>
                                    <span class="expand-icon">+</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">

                                <div class="col-sm-2">
                                    <button class="btn btn-blue"
                                            type="button" id="btn-2wm" onclick="get2wm()">
                                        <span>获取投诉二维码</span>
                                    </button>
                                </div>

                                <form >
                                    <div class="form-group">
                                        <!--<label class="col-sm-2 control-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                                        <div class="col-sm-2">
                                            <select class="form-control" id="search_status" name="search_status">
                                                <option value="0">未处理</option>
                                                <option value="1">完成</option>
                                            </select>
                                            <input type="hidden" class="form-control" id="hidden_status" name="hidden_status">
                                        </div>
                                        <!--<label class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="search_waybillNum" name="search_waybillNum"
                                                   placeholder="请输入运单号">
                                            <input type="hidden" class="form-control" id="hidden_waybillNum" name="hidden_waybillNum">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="search_complainant" name="search_complainant"
                                                   placeholder="请输入投诉人">
                                            <input type="hidden" class="form-control" id="hidden_complainant" name="hidden_complainant">
                                        </div>
                                        <button class="btn btn-blue btn-icon btn-icon-standalone btn-icon-standalone-right"
                                                type="button" id="btn-search">
                                            <i class="fa-search"></i>
                                            <span>查询</span>
                                        </button>
                                    </div>
                                </form>


                                <div class="form-group-separator"></div>
                            <form th:method="delete" id="form-body">
                                <table id="tablelist" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%" style="table-layout: fixed;">
                                    <thead id="tablehead">
                                        <tr>
                                            <th style="width:8%">货运单号</th>
                                            <th style="width:5%">投诉人</th>
                                            <th style="width:8%">电话</th>
                                            <th style="width:8%">时间</th>
                                            <th style="width:58%">详情</th>
                                            <th style="width:5%">处理结果</th>
                                            <th style="width:8%">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>

                            </form>
                        </div>

                        <div class="col-sm-5">
                            &nbsp;
                        </div>
                        <div th:replace="commons/bars::sidePage"></div>
                    </div>


                    <div th:replace="common/sheet::scriptdiv"></div>
                    <script src="../assets/js/zj/complain/complainQuery.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-width" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">货车添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form-insert">
                    <input type="hidden" value="false" id="isupdateflag">
                    <div class="form-group" >
                        <label  class="col-sm-2 control-label">车牌号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="bill_plate_num" name="bill_plate_num" placeholder="车牌号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" id="bill_receivePlace" name="bill_receivePlace" placeholder="领票站点" autocomplete="off">-->
                            <!--<div class="col-sm-2">-->
                                <select class="form-control" id="bill_type" name="type">
                                    <option value="0">大型车</option>
                                    <option value="1">中形车</option>
                                    <option value="2">小形车</option>
                                </select>
                            <!--</div>-->
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">所在站点</label>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" id="bill_receivePlace" name="bill_receivePlace" placeholder="领票站点" autocomplete="off">-->
                            <input type="text" class="form-control" id="bill_addr" name="bill_addr"
                                   placeholder="所在站点" autocomplete="off" >
                            <input type="hidden" class="form-control" id="bill_addrValue" name="bill_addrValue"
                                   placeholder="所在站点" autocomplete="off" >
                            </datalist>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-save" class="btn btn-primary" onclick="insert1(this)">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-deleteConfirm">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                确认要删除吗？
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirm" onclick="deleteByid(this)">确认</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-updateConfirm">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                确认已经完成反馈了吗？
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirm-2" onclick="updateByid(this)">确认</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


</div>
<script type="text/javascript">
    $("#bill_addr").typeahead({
        source: function (query, process) {
            return $.ajax({
                url: '/getListStationName/'+query,
                type: 'get',
                //data: {name: query},
                success: function (result) {
                    return process(result);
                },
            });
        }
    });
</script>
<div th:replace="~{commons/bars::sideFoot}"></div>
</body>
</html>
